/* ==========================================================================
   BASE STYLES
   ========================================================================== */
*,
*:before,
*:after {
    box-sizing: border-box;
    transform-origin: 0 0 0
}

html {
    color: #000;
    font-size: 1em;
    line-height: 1.4;
    background: #DBE6EC;
    height: 100%;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   CUSTOM STYLES

   Fonts:
   System font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   Header font-family: ;
   Body font-family: ;

   Colors:
   Very Dark : #ffffff
   Medium Dark : #ffffff
   Dark : #ffffff
   ========================================================================== */

.weather-wrapper {
    width: 70%;
    margin: 2.5% auto;
    display: flex;
    flex-flow: row wrap;
    background: #fafaff;
}

.weather-wrapper > * {
    flex: 1 50%;
}

.weather-daily {
    padding: 0 .66em;
    border-top: 1px solid #d0d9dc;
}

.weather-current {
    padding-bottom: 1.32em;
    border-bottom: 1px solid #d0d9dc;
}

.weather-today__hourly {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weather-weekly {
    padding: 0 .66em;
    border-left: 1px solid #d0d9dc;
    border-top: 1px solid #d0d9dc;

}

.weather-unit {
    display: flex;
    flex: 3 100%;
}

.weather-unit__celsius, .weather-unit__fahrenheit {
    flex: 1 50%;
}


/* ==========================================================================
   HELPER CLASSES
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media only screen and (max-width: 1450px) {
    .weather-wrapper {
        width: 90%;
    }

}

@media only screen and (max-width: 850px) {
    .weather-wrapper > * {
        flex: 1 100%;
    }

}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
